@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  overflow: hidden;
}
.map{
  background-color: #1e7d8f;
}

.map img{
    opacity: 0.4;
    height: 97%;
    width: 98%;
}

.map button{
  position: absolute;
  /* width: 15px;
  height: 15px; */
  border-radius: 50px;
  border: none;
  background-color: rgb(10, 11, 73);
  /* animation:  highlight 1.5s linear infinite; */

}

@keyframes highlight {
  100%{
    transform: scale(4);
    opacity: 0;
    /* cursor: pointer; */
  }
}

.map button :hover{
  cursor: pointer;
}